body {
  width: 100vw;
  height: 100vh;
  background: url("https://picsum.photos/id/860/1920/1080?grayscale&blur=2")
    center;
  background-size: cover;
  color: #fff;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-section form {
  margin-bottom: 0;
}

#main-section h3 {
  font-size: 2rem;
  color: #000;
}

#main-section .subtitle {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.search-container {
  direction: rtl;
}

.search-container input {
  min-width: 400px;
  height: 40px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 5px;
  border: 1px solid #fff;
}

.search-container button {
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 5px;
}

.search-container button:hover {
  opacity: 0.8;
}

#result-section {
}

#result-section .word-wrapper {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  direction: rtl;
}

#result-section .word-wrapper p {
  color: black;
}
